<footer class="footer">
<p>Clock+       email: s3660434@student.rmit.edu.au       attempt grade level: pass</p>
<p> 
<a href=https://www.facebook.com/>Facebook</a>
<a href=https://twitter.com/explore>Twitter</a>
<a href=https://www.linkedin.com/>Linkedin</a>
</p>
</footer>
